.images-wrapper {
	scroll-snap-type: both proximity;
	overflow: auto;
}

.home-image {
	scroll-snap-align: start;
	position: relative;

	> * {
		max-width: 100%;
		height: auto;
		min-width: 1200px;
	}

	.svg-overlay {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;

		path,
		polygon {
			fill: transparent;
			cursor: pointer;
		}
	}
}
