@font-face {
	font-family: 'OS Sans Affair';
	src: url('../../static/fonts/OSSansAffair.eot');
	font-display: swap;
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'OS Sans Affair';
	src: url('../../static/fonts/OSSansAffair.woff2') format('woff2'),
		url('../../static/fonts/OSSansAffair.woff') format('woff');
	font-display: swap;
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: 'OS Sans Affair';
	font-size: 1rem;
}

p, span {
	font-size: 1.5rem;
	line-height: 1.3;
}

h1,
h2,
h3,
h4 {
	margin: 0;
}

a {
	color: inherit;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}
