.single-project {
	display: flex;
	max-height: 100vh;
}

.project-title {
	font-size: 4rem;
	font-weight: 400;
	margin: 0;
	position: fixed;
	text-align: center;
	top: $navHeight;
	z-index: 2;
	transform: translateX(-50%);
	left: 50%;
	width: calc(100% - (#{$mainSpacing} * 2))
}

.project-images,
.project-content {
	padding: $navHeight * 3 $mainSpacing $mainSpacing $mainSpacing;
	flex-basis: 50%;
	overflow-y: auto;
}

.project-content {
	p:first-of-type {
		margin-top: 0;
	}
}
