.single-project {
	display: flex;
	max-height: 100vh;
}
.image-wrapper {
	position: relative;
	overflow: hidden;

	.zoom-image {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 1;
		transform-origin: center;
	}
}
.project-title {
	font-size: 4rem;
	font-weight: 400;
	margin: 0;
	position: fixed;
	text-align: center;
	top: $navHeight;
	z-index: 2;
	transform: translateX(-50%);
	left: 50%;
	width: calc(100% - (#{$mainSpacing} * 2))
}

.project-images,
.project-content {
	flex-basis: 50%;
	overflow-y: auto;
}

.project-images {
	padding: $navHeight * 3 0 $mainSpacing 0;
	margin-left: $mainSpacing;
	margin-right: $mainSpacing;
}

.project-content {
	span {
		font-size: 1.5em;
	}
	p:first-of-type {
		margin-top: 0;
	}
}
