// Normalize
@import '../../node_modules/normalize-scss/sass/normalize/import-now';

// Globals
@import '/global/typography';

// Pages

// Components
.👻 {
  text-align: right;
  display: block;
  margin-right: 20vw;
  margin-top: 30vh;
}
  